@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./Assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.gadiecontainer {
  box-sizing: border-box;
  display: flex;
}

.content {
  background-color: rgb(1, 50, 67);
  margin-top: 10rem;
  height: auto;
  border-radius: 0.2rem;

  margin-left: auto;
  margin-right: auto;
  position: relative;

  align-items: center;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
}

.gradieTitle {
  font-family: 'Roboto';
  font-size: 3rem;
  color: #fefffe;
  margin-top: 5rem;
}

.gradieSubtitle {
  font-family: 'Roboto';
  font-size: 1.5rem;
  color: #87bed3;
  margin-top: 0.5rem;
}

.iphoneImage {
  margin-top: -8rem;
  max-width: 35rem;
}
