@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(assets/Background.png);
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}
.gadiecontainer {
  box-sizing: border-box;
  display: flex;
}

.content {
  background-color: rgb(1, 50, 67);
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: auto;
  border-radius: 0.2rem;
  flex-wrap: wrap;
  max-width: 100%;

  margin-left: auto;
  margin-right: auto;
  position: relative;

  align-items: center;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
}
.iphoneImage { /*Verificar a imagem para ficar responsiva*/
  margin-top: -8rem;
  max-width: 20rem;

  /* flex: 25%; */
  /* max-width: 100%; */
}